.botao {
    background-image: url('https://cdn-icons-png.flaticon.com/512/9484/9484251.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 35px;
    border: none;
    background-color: white;


    &:hover {
        transform: scale(1.1); 
      }

}