.excluir {
    height:16px;
    width: 16px;
    background-color: #F45050;
    color:white;
    border:none;
    padding: 1px;
    border-radius: 50%;

    &:hover{
        background-color: #3C486B;
        cursor: pointer;
    }
}