@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

.livro {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Space Mono', monospace;;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    color:  #4e515c;
    background-color: white;
}

.titulo-div {
    color: #3C486B!important;
    font-size: 26px;
}


.category-color{
    width:fit-content;
    border: 1px solid #3C486B;
    border-radius: 5px;
    padding: 1px;
}

.recomendation-div {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.like, .dislike {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px) {

    .livro {
        all: unset;
        height: auto;
        width:100%;
        display: grid;
        grid-template-columns: 1fr 20% auto;
        color:  #4e515c;
        background-color: white;
        border-radius: 8px;
        font-family: 'Space Mono', monospace;
        padding: 5px;
      }

      .content{
        grid-column: 1;
        width:auto;
        height: auto;
      }
    
    .recomendation-div {
        gap: 1px;
        grid-column: 2; 
    }

    .excluir {
        grid-column: 3;
      }
  
  }