@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

.livro{
    display: flex;
    flex-direction: row;
    font-family: 'Space Mono', monospace;;
    justify-content: space-between;
    min-width: 90vw;
    max-width: 100%;
    border-radius: 8px;
    padding: 10px;
    color:  #4e515c;
    background-color: white;
}

.titulo-div {
    color: #3C486B!important;
    font-size: 26px;
}


.category-color{
    width:fit-content;
    border: 1px solid #3C486B;
    border-radius: 5px;
    padding: 1px;
}

.recomendation-div {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.like, .dislike {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}