*{ 
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.AppStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lista-livros {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px 0;
}


.cabecalho {
  display: none;
}


.filtro-pesquisa-wrap {
  display: flex;
  background-color: #F45050;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: border-box;
}