*{ 
  margin: 0;
  padding: 0;

}

body {
  width: auto;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filtro-pesquisa-wrap, .header-pesquisa-filtro-wrap {
  width: 100%;
}

.AppStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lista-livros {
  display: flex;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 5px;
  margin-top: 1em;
  gap: 1em;
}


.cabecalho {
  display: none;
}


.filtro-pesquisa-wrap {
  display: flex;
  background-color: #F45050;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: border-box;
}


@media (min-width: 768px) {

  .wraper {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    box-sizing: border-box;
    height: fit-content;
  }

  .filtro-pesquisa-wrap {
    border-radius: 10px;
  }

  .header-pesquisa-filtro-wrap {
    width: 30%;
    flex-direction: column; 
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-right: 1em;
  }

  .form-app-wrap {
    width: 70%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
  }

  .AppStyle {
    all: unset;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .lista-livros {

    display: flex;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 1em;
    gap: 1em;
  }

}
