body {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-image: url(https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 70vh;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.AppStyle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 18, 92);
  color: white;
  max-width: 70vw;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lista-livros {
  display: flex;
  flex-direction: column;
  background-color: red;
  flex-wrap: wrap;
  width: 100%;
}

.livro {
  display: flex;
  flex-direction: column;
  background-color: orange;
  flex-wrap: wrap;
  width: 100%;
}

.content, .cabecalho {
  display: flex;
  flex-direction: row;
  background-color: rgb(112, 48, 59);
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.cabecalho {
  background-color: gray;
}
