.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}


.dropdown-menu a{
    display: block;
    color: blueviolet;
}

.dropdown-menu a:hover {
    text-decoration: none; /* Remova a decoração de texto no hover */
  }


.dropdown:hover .dropdown-menu {
    display: block;
    background-color: black;
    top: calc(20% + -2px); /* Posiciona o menu abaixo das barras horizontais com uma distância de 2px */
    right: 70px; /* Distância de 50px da borda direita */
    transform: translateX(50%); /* Centraliza horizontalmente o menu suspenso */
  }

.dropdown{
    font-weight: 700;
   
}

.dropdownlink{
    background-color: transparent;
    position: relative;
    padding-left: 50px; 
}


#dropdownlink-principal::before,
#dropdownlink-principal::after,
.dropdownlink span {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.dropdownlink::before {
    left: 0;
  }
  
  .dropdownlink span {
    left: 0;
    margin-top: -6px; 
  }
  
  .dropdownlink::after {
    top: 15px;
    right: 30px; 
  }