@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

.header {
    background: #3C486B;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    min-width: fit-content;
    flex-wrap: wrap;
    min-height: 25vh;
}

.app-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 62px;
    font-weight:400;

}

.app-title, .description {
    color: rgb(241, 243, 243);
    width: 100%;
}

.description {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Space Mono', monospace;;
    font-size: 20px;
    margin-left: 8vw;
}

.description p {
  display: flex;
  width: auto;
  height: fit-content;
}


@media (min-width: 768px) {

  .header {
    width: auto;
    height: fit-content;
    margin-bottom: 1em;
    border-radius: 15px;
  }

  .description {
    display: flex;
    width: auto;
    height: fit-content;
    margin: 0;
  }
}
