@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.header {

    width: 100%;
}

.app-title {
    font-family: 'poppins', sans-serif;
    font-size: 82px;
    color: rgb(241, 243, 243);
}