.separacao {
    display: flex;
    height: 5vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:70%;
    min-width: fit-content;
    flex-wrap: wrap;
}

.campo-pesquisa{
    width:60%;
    background-color: white;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    border: 2px solid #c54242;
    border-radius: 8px;
}

.campo-pesquisa input {
    width:92%;
    height: fit-content;
    border: none;
    outline: none;
    
}

.campo-pesquisa button {
    background-color: transparent;
    border: none;
}