.separacao {
    display: flex;
    height: 5vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 50%;
    margin-right: 10px;
}

.campo-pesquisa{
    width:100%;
    background-color: white;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    border: 2px solid #c54242;
    border-radius: 8px;  
}

.campo-pesquisa input {
    width:92%;
    height: fit-content;
    border: none;
    outline: none;
    box-sizing: border-box;
    
}

.campo-pesquisa button {
    background-color: transparent;
    border: none;
}

